# Ignore all files by default
*

# Do not ignore directories
!*/

# Track only submission files according to requirements
!Pipeline_submission_BFGAI_SonnyAriady.ipynb
!Streamlit_submission_BFGAI_SonnyAriady.ipynb
!requirements.txt
!video_demo_aplikasi_BFGAI.mp4

# Track gitignore and readme
!.gitignore
!README.md
